@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3b82f6;
  --secondary: #64748b;
}
/* Jan update */
/* Feb */
/* Mar */
/* Apr */
/* May */
/* Jun */
/* Jul */
/* Aug */
/* Sep */
/* Oct */
/* Nov */
# Feb 10
# Mar 15
# Apr 18
# May 20
# Jun 20
# Jul 25
# Aug 20
# Sep 18
# Oct 25
# Dec 5
# 2024-01-11T11:00:00
# 2024-01-26T11:00:00
# 2024-02-07T14:00:00
# 2024-02-17T15:00:00
# 2024-03-11T10:00:00
# 2024-03-21T11:00:00
# 2024-05-11T10:00:00
# 2024-05-17T11:00:00
# 2024-05-25T10:00:00
# 2024-06-12T10:00:00
# 2024-06-24T11:00:00
# 2024-07-05T20:00:00
# 2024-07-13T20:00:00
